<div class="card">
  <div class="card-block text-xs-center">
    <span><i class="fa fa-pencil-square-o icon-large pull-left"></i>Educational Details</span>
  </div>
  <ul class="list-group">
  <li class="list-group-item font-heading">
    <span class="label label-default label-pill pull-xs-right">Alicia</span>
    Graduation
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-default label-pill pull-xs-right">24</span>
    Intermediate
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-default label-pill pull-xs-right">9123493923</span>
  Senior Secondary
  </li>
</ul>
</div>
