<div id="about-profile margin-top-40">
<div class="card">
  <div class="card-block text-xs-center">
    <span>Basic Information & contact Details</span>
  </div>
  <ul class="list-group">
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">Alicia</span>
    Name
  </li>
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">24</span>
  Age
  </li>
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">9123493923</span>
  Contact Number
  </li>
</ul>
</div>

<div class="card">
  <div class="card-block text-xs-center">
    <span>Educational Details</span>
  </div>
  <ul class="list-group">
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">Alicia</span>
    Graduation
  </li>
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">24</span>
    Intermediate
  </li>
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">9123493923</span>
  Senior Secondary
  </li>
</ul>
</div>
</div>
