<div class="container-fluid login-reg-container">
 <div class="row ">
<button id="reg-button" class="btn btn-info btn-md " {{action 'showRegForm' param}}>Get Started</button>
</div>
<div class="row seperator">
<button id="login-button" class="btn btn-success btn-md " {{action 'showLoginForm'}}>Login</button>
</div>
</div>
