<div class="container-fluid login-reg-container">
  <div class="btn-toolbar-vertical">
        <button type="button" id="reg-button" class="btn btn-info btn-md" {{action "showRegForm" param}}>Get Started</button>
        <button type="button" id="login-button" class="btn btn-success btn-md " showloginform="showLoginForm">Login</button>
  </div>

</div>
