<div class="card">
  <div class="card-block text-xs-center">
    <span><i class="fa fa-pencil-square-o icon-large pull-xs-left"></i>Educational Details</span>
  </div>
  <ul class="list-group">
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">G.B Pant Engineering College</span>
    Graduation
  </li>
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">Riverdale High School</span>
    Intermediate
  </li>
  <li class="list-group-item font-heading">
    <span class="tag tag-default tag-pill pull-xs-right">Riverdale High School</span>
  Senior Secondary
  </li>
</ul>
</div>
