<div class="card margin-top-40">
  <div class="card-block text-xs-left">
    <span class=" clear-fix search-title "><i class="fa fa fa-search icon-large"></i>Search for Friends</span>
  </div>

  <!-- <select class="selectpicker" data-style="btn-primary">
  <option>Mustard</option>
  <option>Ketchup</option>
  <option>Relish</option>
</select> -->

  <!-- <div class="card-block text-xs-center">
    <span><i class="fa fa-pencil-square-o icon-large pull-left"></i>Basic Information & contact Details </span>
  </div> -->
<ul class="list-group">
  <li class="list-group-item text-xs-center">
    <select class="selectpicker show-tick" data-style="btn-info" data-width="80%">
      <option >Mustard</option>
      <option >Ketchup</option>
      <option >Relish</option>
    </select>
  </li>
  <li class="list-group-item text-xs-center">
    <span class="label label-info font-100 label-pill  pull-xs-right">Alicia</span>
    <select class="selectpicker" data-style="btn-info">
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
  </li>
  <li class="list-group-item text-xs-center">
    <select class="selectpicker" data-style="btn-info">
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
  </li>
  <li class="list-group-item text-xs-center">
    <select class="selectpicker" data-style="btn-info">
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
  </li>
  <li class="list-group-item text-xs-center">
    <select class="selectpicker" data-style="btn-info">
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
  </li>
  <li class="list-group-item text-xs-center">
    <select class="selectpicker" data-style="btn-info">
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
  </li>
  <li class="list-group-item text-xs-center">
    <select class="selectpicker" data-style="btn-info">
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
  </li>
  <!-- <li class="list-group-item font-heading">
    <span class="label label-default label-pill pull-xs-right">9123493923</span>
  Maximum Age
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-default label-pill pull-xs-right">23-12-1989</span>
  Region
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-default label-pill pull-xs-right">Pune</span>
Current City
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-default label-pill pull-xs-right">Pauri</span>
Hometown
  </li> -->
</ul>
</div>
