<section id="about" class="padding-30">
  <div class="container text-center font-test">
    <!-- #F0626A -->
    <h1 class = "logo-word">Bhaduli.</h1>
    <h3>Some awesome tagline.</h3>
       {{#if isRegistering}}
       {{#popup-form}}
       {{/popup-form}}
       {{/if}}
    <button id="reg-button" class="btn btn-info no-border-radius" {{action 'showForm'}}>
  Get Started
    </button>
    <div class="container">
      <div class="row">
      <div class="col-md-3"> </div>
      <div class="col-md-6">
    <p class="section-title">
      Tumblr is so easy to use that it’s hard to explain.
    </p>
    <p class="section-desc">
      We made it really, really simple for people to make a blog and put whatever they want on it. Stories, photos, GIFs, TV shows, links, quips, dumb jokes, smart jokes, Spotify tracks, mp3s, videos, fashion, art, deep stuff. Tumblr is 287 million different blogs, filled with literally whatever.
    </p>
  </div>
    <div class="col-md-3"> </div>
  </div>
</div>
  </div>
</section>
