<nav class="navbar  navbar-dark  navbar-fixed-top light-blue-bg  bg-faded">
  <a class="navbar-brand" href="#">Bhaduli</a>
  <div class="nav navbar-nav">
   <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
   <a class="nav-item nav-link" href="#">Features</a>
   <a class="nav-item nav-link" href="#">Pricing</a>
   <a class="nav-item nav-link" href="#">About</a>
   <div >
     <div id="noti_Container" class="pull-right">
     <i id="notification" class="fa fa-bell fa-lg pull-center white-bg"></i>
     <div class="noti_bubble">2</div>
   </div>
   <img class="poh pull-right" src="assets/face6.jpg">
   <!-- <a class="btn btn-danger-outline btn-sm pull-right" href="#" role="button">Logout</a> -->
 </div>

 </div>
</nav>
