  <li class="list-group-item notification-row"><i class="fa fa-inbox" aria-hidden="true"></i>
    You have a <a><strong>{{model.type}}</strong></a> from <a><strong>{{model.intiator}}</strong></a></li>
