<div class="container carousel-overlay text-center">
  <!-- #F0626A -->
  <h1 class = "logo-word">Bhaduli.</h1>
  <h3>One love, One heart, One destiny.</h3>
     {{#if isRegistering}}
     {{#popup-form}}
     {{/popup-form}}
     {{/if}}
  <button id="reg-button" class="btn btn-info no-border-radius" {{action 'showForm'}}>
Get Started
  </button>
</div>
