<div id="login-form">
<div class="container-fluid carousel-overlay text-center">
  <!-- #F0626A -->
  <h1 class = "logo-word">Bhaduli.</h1>
  <h3>Some awesome tagline.</h3>
    {{popup-form id='reg-from'}}
    {{button-couple param="#reg-from"}}
</div>
</div>
