<div class="container carousel-overlay text-center">
  <!-- #F0626A -->
  <h2>Bhaduli</h2>
  <h3>The desire to reach for the stars is ambitious.</h3>
     <h3>The desire to reach hearts is wise.</h3>
  <a href="" class="button center-block">
    <span class="fa fa-sign-in">Sign Up</span>
  </a>
</div>
