<form class="reg-log">
  <div class="form-group">
      <input type="email" class="form-control no-border-radius blue-border" id="inputEmail3" placeholder="Email">
      <input type="password" class="form-control no-border-radius blue-border" id="inputPassword3" placeholder="Password">
      <input type="username" class="form-control no-border-radius blue-border" id="username" placeholder="Username">
  </div>
</form>
