<form class="reg-log">
  <div class="form-group">
      {{input type="text" class="form-control" value = user.age placeholder="How old are you"}}
      {{input type="text" class="form-control no-border-radius blue-border" value = user.gender  placeholder="Gender"}}
  </div>
</form>
