<form id= "reg-from">
  <div class="form-group">
      <input type="email" class="form-control no-border-radius blue-border" id="inputEmail3" placeholder="Email">
      <input type="password" class="form-control no-border-radius blue-border" id="inputPassword3" placeholder="Password">
  </div>
</form>
