<div class="container-fluid padding-top-30">
  <div class="row">
    <div class="col-md-3 no-padding-left no-padding-right">
  {{card-me}}
  </div>
  <div class="col-md-9">
  <div class="container col-md-12  no-padding-left no-padding-right">
    <div class="row">
      <h>Recent Visitors</h>
    </div>
    <div class="row">

      {{recent-visitors}}

    </div>
  </div>
  </div>
</div>


</div>
