<div id="rv-container" class="container-fluid">

<div class="row margin-top-40">
<div class="col-md-3">
</div>
<div class="col-md-8">
  <div class="card">
    <div class="card-block heading-card">
    <h4 class="card-title"> <i class="fa fa-thumbs-up icon-large pull-left"></i>Requests</h4>
  </div>
<div  id="rv" class="card-columns">

<!-- <div class="col-md-4"> -->
<div class="card">
  <img  src="assets/face7.jpg" data-src="..." alt="Card image">
  <ul class="list-group">
  <li class="list-group-item font-heading">
    <span class="label label-info font-100 label-pill  pull-xs-right">Alicia</span>
    Name
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-info font-100 label-pill  pull-xs-right">24</span>
  Age
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-info font-100 label-pill pull-xs-right">Pune</span>
Current City
  </li>
</ul>
</div>
<div class="card">
  <img  src="assets/face6.jpg" data-src="..." alt="Card image">
  <ul class="list-group">
  <li class="list-group-item font-heading">
    <span class="label label-info font-100 label-default font-100 label-pill pull-xs-right">Alicia</span>
    Name
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">24</span>
  Age
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">Pune</span>
Current City
  </li>
</ul>
</div>
<div class="card">
  <img  src="assets/face3.jpg" data-src="..." alt="Card image">
  <ul class="list-group">
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">Alicia</span>
    Name
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">24</span>
  Age
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">Pune</span>
Current City
  </li>
</ul>
</div>
<div class="card">
  <img  src="assets/face4.jpg" data-src="..." alt="Card image">
  <ul class="list-group">
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">Alicia</span>
    Name
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">24</span>
  Age
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">Pune</span>
Current City
  </li>
</ul>
</div>
<div class="card">
  <img  src="assets/face6.jpg" data-src="..." alt="Card image">
  <ul class="list-group">
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">Alicia</span>
    Name
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">24</span>
  Age
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">Pune</span>
Current City
  </li>
</ul>
</div>

<div class="card">
  <img  src="assets/face5.jpg" data-src="..." alt="Card image">
  <ul class="list-group">
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">Alicia</span>
    Name
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">24</span>
  Age
  </li>
  <li class="list-group-item font-heading">
    <span class="label label-info font-100  label-pill pull-xs-right">Pune</span>
Current City
  </li>
</ul>
</div>
<!-- </div> -->
<!-- <div class="col-md-4"> -->

</div>

</div>
</div>
<div class="col-md-1">
    <!-- {{filter-com}} -->
</div>
</div>
</div>
