<li class="list-group-item notification-row"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
  <a href="#"><strong>{{model.intiator}}</strong></a> recently <a href="#"><strong>{{model.type}}</strong></a> your profile</li>
