<div class="container">

<div class="row">
<div class="col-md-12">

<div  id="profile-card" class="card">
  <img class="card-img-top"  src="assets/face1.jpg" data-src="" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Dan Morgan</h4>
    <p class="card-text">Freelancer UI/UX Designer, St Louise</p>
    <div class="">
    <div class="btn btn-warning btn-md">
       Edit
     </div>
    </div>
  </div>

  <ul class="list-group list-group-flush">
    <h4 class="embedded">Persnal</h4>
    <li class="list-group-item lighten">
      <span class="sub-heading">Date of Birth</span>
      Cras justo odio
    </li>
    <li class="list-group-item lighten">
      <span class="sub-heading">Hometown</span>
      Cras justo odio
    </li>
    <li class="list-group-item lighten">
      <span class="sub-heading">Current City</span>
      Cras justo odio
    </li>
  </ul>
  <ul class="list-group list-group-flush">
    <h4 class="embedded">Educational</h4>
    <li class="list-group-item lighten">
      <span class="sub-heading">Graduation</span>
      Cras justo odio
    </li>
    <li class="list-group-item lighten">
      <span class="sub-heading">Intermediate</span>
      Cras justo odio
    </li>
    <li class="list-group-item lighten">
      <span class="sub-heading">Secondary</span>
      Cras justo odio
    </li>
  </ul>
  <div class="card-block">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
</div>
</div>
