<form class="reg-log">
  <div class="form-group">
    {{input type="username" class="form-control no-border-radius blue-border" value = user.email   placeholder="Username"}}
    {{input type="password" class="form-control no-border-radius blue-border" value = user.password  placeholder="Password"}}
  </div>
</form>
