<section id="about" class="padding-30 fill-2">
    <div class="container-fluid text-xs-center orange-bg">
    <div class="text-xs-center font-test">

         <h1 class="logo-word">Bhaduli.</h1>
         <h3>Some awesome tagline.</h3>
       </div>

{{popup-form id='reg-from-2'}}
 {{button-couple param="#reg-from-2"}}
</div>
        <div
        class="container orange-bg">
            <div class="row">
                <div class="col-lg-5 offset-lg-4">
                    <p class="section-title">Tumblr is so easy to use that it’s hard to explain.</p>
                    <p class="section-desc">We made it really, really simple for people to make a blog and put whatever
                        they want on it. Stories, photos, GIFs, TV shows, links, quips, dumb jokes,
                        smart jokes, Spotify tracks, mp3s, videos, fashion, art, deep stuff. Tumblr
                        is 287 million different blogs, filled with literally whatever.</p>
                </div>
            </div>
    </div>
</section>
