<div class="container" id="testimonial">
  <div class="item">
  <div class="row nopadding  blue-bg">
    <div class="col-md-6 nopadding">
      <div class="container-fluid">
        <div class="row max-width">
          <blockquote><p class="font-test">"Our business helps busy people save time,so fast service with Desk.com is critical."</p></blockquote>
        </div>
        <div class="row">
          <hr class="hr-tag">
        </div>
        <div class="row">
        <p class="customer-test sub-titles">Michael Tyson</p>
        </div>
        <div class="row">
        <p class="customer-test sub-titles">Head of Customer Experience</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 nopadding">
      <div class="slide11">
      </div>
    </div>
  </div>
</div>

<div class="item">
  <div class="row nopadding  orange-bg">
    <div class="col-md-6 nopadding">
        <div class="row max-width">
          <blockquote><p class="font-test">"Our business helps busy people save time,
             so fast service with Desk.com is critical."</p></blockquote>
        </div>
        <div class="row">
          <hr class="hr-tag">
        </div>
        <div class="row">
        <p class="customer-test sub-titles">Michael Tyson</p>
        </div>
        <div class="row">
        <p class="customer-test sub-titles">Head of Customer Experience</p>
        </div>
    </div>
    <div class="col-md-6 nopadding">
      <div class="slide22">
      </div>
    </div>
  </div>
</div>
<div class="item">
  <div class="row nopadding  green-bg">
    <div class="col-md-6 nopadding">
        <div class="row max-width">
          <blockquote><p class="font-test">"Our business helps busy people save time,
             so fast service with Desk.com is critical."</p></blockquote>
        </div>
        <div class="row">
          <hr class="hr-tag">
        </div>
        <div class="row">
        <p class="customer-test sub-titles">Michael Tyson</p>
        </div>
        <div class="row">
        <p class="customer-test sub-titles">Head of Customer Experience</p>
        </div>
    </div>
    <div class="col-md-6 nopadding">
      <div class="slide33">
      </div>
    </div>
  </div>
</div>
</div>
