<section class="block">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
      <div class="item active">
        <div class="slide1 darken"></div>
      </div>
      <div class="item">
        <div class="slide2 darken"></div>
      </div>
      <div class="item">
        <div class="slide3 darken"></div>
      </div>
     </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
    </div>
</section>
