<div class="jumbotron" >
<div class=" carousel slide carousel-fade" id="bg-fade-carousel" data-ride="carousel">
 <div class="carousel-inner">
 <div class="item active">
   <div class="slide1 darken"></div>
 </div>
 <div class="item">
   <div class="slide2 darken"></div>
 </div>
 <div class="item">
   <div class="slide3 darken"></div>
 </div>
</div> <!-- End carousel inner-->
<div class="container carousel-overlay text-center">
 <!-- #F0626A -->
 <h2>Bhaduli</h2>
 <h3>The desire to reach for the stars is ambitious.</h3>
    <h3>The desire to reach hearts is wise.</h3>
 <a href="" class="button center-block">
   <span class="fa fa-sign-in">Sign Up</span>
 </a>
</div>
</div>
</div><!-- End jumbotron-->
