{{nav-bar}}
<div id="notifications" class="container-fluid  margin-top-40">
  <div class="row">
    <div class="col-md-2">

    </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Notifications</h4>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item notification-row"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <a><strong>David Gomcha</strong></a> recently viewed your profile</li>
        <li class="list-group-item notification-row"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <a><strong>David Gomcha</strong></a> recently viewed your profile</li>
        <li class="list-group-item notification-row"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <a><strong>David Gomcha</strong></a> sent you a request</li>
        <li class="list-group-item notification-row"><i class="fa fa-globe" aria-hidden="true"></i>
          <a><strong>David Gomcha</strong></a> recently viewed your profile</li>
        <li class="list-group-item notification-row"><i class="fa fa-info-circle" aria-hidden="true"></i>
            <a><strong>Lady of Lake</strong></a> sent you a request</li>
        <li class="list-group-item notification-row"><i class="fa fa-info-circle" aria-hidden="true"></i>
            <a><strong>Laliah Gomcha</strong></a> sent you a request</li>
        <li class="list-group-item notification-row"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
            <a><strong>Ajin Gomcha</strong></a> recently viewed your profile</li>
        <li class="list-group-item notification-row"><i class="fa fa-heartbeat" aria-hidden="true"></i>
          <a><strong>Sobaru kun</strong></a> rejected your request</li>

      </ul>
      <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col-md-2">
<!-- {{filter-com}} -->
  </div>
</div>
</div>
