{{nav-bar}}
<div id="profile" class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-xs-2">
              {{profile-bg}}
                    <div id="side-nav" class="card padding-top-30 margin-top-40">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li class="nav-item">{{#link-to 'profile.basicinfo' class="nav-link" tagname="li"}}Basic information
                                            and Contact Details {{/link-to}}</li>
                                        <li class="nav-item">{{#link-to 'profile.educational-detail' class="nav-link" tagname="li"}}Educational
                                            Details{{/link-to}}</li>
                                        <li class="nav-item">{{#link-to 'profile.astroinfo' class="nav-link" tagname="li" href=false}}Astro
                                            Details{{/link-to}}</li>
                                        <li class="nav-item">{{#link-to 'profile.otherinfo'class="nav-link" tagname="li" href=false}}Other{{/link-to}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8">
                              {{outlet}}
                            </div>
                        </div>
                    </div>
            </div>

        </div>
        <div class="row">
          {{user-notifications model=model.notifications}}
        </div>
  </div>
